body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fff;
  width:100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 2.0fr;
  grid-template-areas:
    "sidebar switch"
    "sidebar main"
    "sidebar main-steps"
    "sidebar main-box"
    "sidebar main-buttons"
    "sidebar footer";
  font-size: 13px;
  color: black;
  text-align: center;
}



.top-bar {
  background: #f4f4f4;
  grid-area: switch;
  padding: 1%;
  display: flex;
  
}

.select {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: right;
  
}

.switch {
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: #579359;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}



main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: 1%;
  font-size: 20px;
}

main img {
  margin-top: -3%;
  padding-right:20%;
  max-width: 10%;
  height: auto;
}


#sidebar {
  background: #1b2c3b;
  grid-area: sidebar;
}

#main-steps {
  grid-area: main-steps;
  margin: 0 5%;
}

#main-box {
  grid-area: main-box;
  margin: 0%;
}

#main-buttons {
  grid-area: main-buttons;
  width: 70%;
  height: auto;
  margin-left: 5%;
  margin-top: 1%;
  text-align:left;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer {
  grid-area: footer;
  width: 85%;
  margin: 5%;
  height: auto;
}
  
  
  
  
  
  
  
.number-list {
    display: flex;
    flex-direction: row;
}

.number-deco {
    width: 100%;
    height: auto;
    font-weight: 200;
}

.number-box {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    background-color:gray;
    color: white;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-line {
    width: 0px;
    height: 30px;
    background-color:gray;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#number-box-check {
    width: 8vh;
    height: 8vh;
    border-radius: 100px;
    background: #579359;
    color: white;
    font-size: 3em;
}

#number-check {
    color: #579359;
}

#number-desc {
    font-weight: 600;
}



.box-center {
    width: 85%;
    height: auto;
    border-radius: 10px;
    padding: 2%;
    margin: 5% 0 0 5%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}
  
.box-center-space {
    display: flex;
    flex-direction: row;
}

.box-center-column {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}
  
.box-center-row {
    display: flex;
    flex-direction: row;
    text-align: left;
    line-height: 1.2;
}

.box-center-img {
    max-width: 8%;
    height: auto;
}
  
.box-center-text {
    padding-left: 2%;
}

.box-center-text p {
    color:#555;
}

.box-center-avatar {
    max-width: 40%;
    margin-left: 5%;
}

.box-center-seta {
    margin-top: -5%;
    padding-left:90%;
    max-width: 8%;
    height: auto;
}



.button {
  background-color: #56bfbf;
  width: 100%;
  height: auto;
  border-radius: 2px;
  border: 0;
  font-family: Segoe UI;
  font-weight: 600;
  font-size:large;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5%;
  margin-right: 2%;
  text-transform: uppercase;

}

.button:hover {
  opacity: 0.8
}

#no {
  background-color: #cacaca;
  cursor: not-allowed;
}



.box-bottom-row {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.box-bottom-video {
  width: 700px;
  height: 300px;
  background-color: #c9c9c9;
}

.box-bottom-text {
  text-align: left;
  max-width: 40%;
  padding-inline-start: 20px;
}

.box-bottom-text p {
  color:#555;
}



@media only screen and (max-width: 900px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100% 100% 100% 100% 50% 100%;
    grid-template-rows: 0.1fr 0.5fr 0.4fr 2.0fr;
    grid-template-areas:
      "switch"
      "main"
      "main-steps"
      "main-box"
      "main-buttons"
      "footer";
    font-size: 13px;
    color: black;
    text-align: center;
  }

  #main-buttons {
    max-width: 90%;
    padding: 10px;
    margin-left: 0%;
    margin-top: 1%;
    justify-content: center;
    align-content: center;
  }

  .number-line {
    display: none;
  }
  .box-center-avatar {
    display: none;
  }

  .box-center-column {
    max-width: 100%;
  }

}
  