:root {
  font-family: Noto Sans JP;
}

body {
  background-color: #fff;
  width:100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 2.0fr;
  grid-template-areas:
    "sidebar switch"
    "sidebar main"
    "sidebar main-steps"
    "sidebar main-box"
    "sidebar main-buttons"
    "sidebar footer";
  font-size: 13px;
  color: black;
  text-align: center;
}



.top-bar {
  background: #f4f4f4;
  grid-area: switch;
  padding: 1%;
  display: flex;
  
}

.select {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: right;
  
}

.switch {
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: #579359;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}



main {
  grid-area: main;
  padding-top: 1%;
  font-size: 18px;
}

main img {
  margin-top: -3%;
  padding-right:20%;
  max-width: 10%;
  height: auto;
}


#sidebar {
  background: #1b2c3b;
  grid-area: sidebar;
}

#main-steps {
  grid-area: main-steps;
  margin: 0%;
}

#main-box {
  grid-area: main-box;
  margin: 0%;
}

#main-buttons {
  grid-area: main-buttons;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  position: relative;
}

footer {
  grid-area: footer;
  width: 85%;
  margin: 5%;
  height: auto;
}
  
  
  
  
  
  
  
.number-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number-deco {
    width: 100%;
    height: auto;
    font-weight: 200;
}

.number-box {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color:gray;
    color: white;
    font-size: 6vh;
}

.number-line {
    width: 25%;
    height: 0vh;
    background-color:gray;
    margin: -2%;
}

#number-box-check {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background: #579359;
    color: white;
    font-size: 6vh;
}

#number-check {
    color: #579359;
}

#number-desc {
    font-weight: 600;
}



.box-center {
    border-radius: 10px;
    margin: 2%;
    padding: 4%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    z-index: -1;
}
  
.box-center-space {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.box-center-column {
    display: flex;
    flex-direction: column;
}
  
.box-center-row {
    display: flex;
    flex-direction: row;
    text-align: left;
    line-height: 1.5;
    margin-top: 5%;
}

.box-center-img {
    width: 10%;
    margin-right: 3vh;
    height: auto;
}
  
.box-center-text {
    margin-left: 2%;
}

.box-center-text p {
    color:#555;
    margin: 0%;
}

.box-center-text h3 {
  margin: 0%;
}

.box-center-text h2 {
  margin: 0%;
  
}

.box-center-avatar {
    width: 40%;
    height: auto;
    position: absolute;
    right: 1%;
    bottom: 0%;
    z-index: 1;
}

.box-center-seta {
    width: 4.5vh;
    height: auto;
    margin-left: 100%;
    margin-top: -2%;

}

.title {
  display: flex;
  width: 120%;
  margin-top: -5%;
}

#title-img {
  width: 15%; 
  margin:-2%; 
  padding-right: 2vh;
}



.button {
  background-color: #56bfbf;
  border-radius: 2px;
  border: 0;
  padding: 0.5vh 3vh 0.5vh 3vh;
  color: white;
  font-family:  Noto Sans JP;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  z-index: 2;
}

.button:hover {
  opacity: 0.8
}

#no {
  background-color: #cacaca;
  cursor: not-allowed;
}



.box-bottom-row {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.box-bottom-video {
  width: 700px;
  height: 300px;
  background-color: #c9c9c9;
}

.box-bottom-text {
  text-align: left;
  max-width: 40%;
  padding-inline-start: 20px;
}

.box-bottom-text p {
  color:#555;
}



@media only screen and (max-width: 900px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 0.1fr 0.5fr 0.5fr 2.0fr;
    grid-template-areas:
      "switch"
      "main"
      "main-steps"
      "main-box"
      "main-buttons"
      "footer";
    font-size: 13px;
    color: black;
    text-align: center;
  }

  .number-line {
    display: none;
  }

  .number-list {
    align-items: flex-start;
    max-width: 80%;
  }

  .box-center-avatar {
    display: none;
  }

  .box-center-space {
    width: 95%;
  }

  .title {
    width: 95%;
  }
}
  